Repository lf-lang/lingua-franca, pull requests merged in 2022-06, with the labels that each got.

#1224 Machine-applicable refactorings
  org.lflang.tests/src/org/lflang/tests/compiler/LinguaFrancaDependencyAnalysisTest.java
  org.lflang.tests/src/org/lflang/tests/compiler/LinguaFrancaScopingTest.java
  org.lflang/src/org/lflang/generator/CodeBuilder.java
  org.lflang/src/org/lflang/generator/GeneratorBase.java
  org.lflang/src/org/lflang/generator/ReactionInstance.java
  org.lflang/src/org/lflang/generator/ReactionInstanceGraph.java
  org.lflang/src/org/lflang/generator/ReactorInstance.java
  org.lflang/src/org/lflang/generator/RuntimeRange.java
  org.lflang/src/org/lflang/generator/SendRange.java
  org.lflang/src/org/lflang/generator/c/CActionGenerator.java
  org.lflang/src/org/lflang/generator/c/CCmakeCompiler.java
  org.lflang/src/org/lflang/generator/c/CCmakeGenerator.java
  org.lflang/src/org/lflang/generator/c/CCompiler.java
  org.lflang/src/org/lflang/generator/c/CGenerator.java
  org.lflang/src/org/lflang/generator/c/CMethodGenerator.java
  org.lflang/src/org/lflang/generator/c/CNetworkGenerator.java
  org.lflang/src/org/lflang/generator/c/CParameterGenerator.java
  org.lflang/src/org/lflang/generator/c/CPortGenerator.java
  org.lflang/src/org/lflang/generator/c/CPreambleGenerator.java
  org.lflang/src/org/lflang/generator/c/CReactionGenerator.java
  org.lflang/src/org/lflang/generator/c/CStateGenerator.java
  org.lflang/src/org/lflang/generator/c/CTimerGenerator.java
  org.lflang/src/org/lflang/generator/c/CTriggerObjectsGenerator.java
  org.lflang/src/org/lflang/generator/c/CTypes.java
  org.lflang/src/org/lflang/generator/c/CUtil.java
  org.lflang/src/org/lflang/generator/c/InteractingContainedReactors.java
Labels: refactoring

#1189 Deadlock in Federated Execution
  org.lflang/src/org/lflang/federated/FedASTUtils.java
  test/C/src/federated/FeedbackDelay.lf
Labels: bug, federated

#1206 Diagram layout improvements
  oomph/LinguaFranca.setup
  org.lflang.diagram/META-INF/MANIFEST.MF
  org.lflang.diagram/src/org/lflang/diagram/synthesis/AbstractSynthesisExtensions.java
  org.lflang.diagram/src/org/lflang/diagram/synthesis/LinguaFrancaSynthesis.java
  org.lflang.diagram/src/org/lflang/diagram/synthesis/util/LayoutPostProcessing.java
  org.lflang.targetplatform/org.lflang.targetplatform.target
Labels: diagrams

#1247 New keyword for history transitions
  org.lflang.tests/src/org/lflang/tests/compiler/LinguaFrancaValidationTest.java
  org.lflang/src/org/lflang/LinguaFranca.xtext
  org.lflang/src/org/lflang/validation/LFValidator.java
  test/C/src/modal_models/ConvertCaseTest.lf
  test/C/src/modal_models/ModalActions.lf
  test/C/src/modal_models/ModalAfter.lf
  test/C/src/modal_models/ModalCycleBreaker.lf
  test/C/src/modal_models/ModalStateReset.lf
  test/C/src/modal_models/ModalStateResetAuto.lf
  test/C/src/modal_models/ModalTimers.lf
  test/C/src/modal_models/MultipleOutputFeeder_2Connections.lf
  test/C/src/modal_models/MultipleOutputFeeder_ReactionConnections.lf
  test/Python/src/modal_models/ConvertCaseTest.lf
  test/Python/src/modal_models/ModalActions.lf
  test/Python/src/modal_models/ModalAfter.lf
  test/Python/src/modal_models/ModalCycleBreaker.lf
  test/Python/src/modal_models/ModalStateReset.lf
  test/Python/src/modal_models/ModalTimers.lf
  test/Python/src/modal_models/MultipleOutputFeeder_2Connections.lf
  test/Python/src/modal_models/MultipleOutputFeeder_ReactionConnections.lf
Labels: enhancement, modal models
