Repository lf-lang/lingua-franca, pull requests merged in 2022-04, with the labels that each got.

#1070 Enable tycho-versions-plugin to manage versioning
  pom.xml
Labels: build system

#1084 Minor Improvements to Diagrams
  org.lflang.diagram/src/org/lflang/diagram/synthesis/LinguaFrancaSynthesis.java
  org.lflang.diagram/src/org/lflang/diagram/synthesis/styles/LinguaFrancaStyleExtensions.java
  org.lflang.diagram/src/org/lflang/diagram/synthesis/util/ModeDiagrams.java
Labels: diagrams, exclude

#1091 Add validation tests for ports in main or federated reactor
  org.lflang.tests/src/org/lflang/tests/compiler/LinguaFrancaValidationTest.java
Labels: testing, validation

#1100 Added support for state variables in diagrams
  org.lflang.diagram/src/org/lflang/diagram/synthesis/LinguaFrancaSynthesis.java
  org.lflang.diagram/src/org/lflang/diagram/synthesis/styles/LinguaFrancaShapeExtensions.java
  org.lflang.diagram/src/org/lflang/diagram/synthesis/util/ModeDiagrams.java
  org.lflang.diagram/src/org/lflang/diagram/synthesis/util/UtilityExtensions.java
Labels: diagrams

#1098 Add support for threading compiler flag to Rust target
  org.lflang/src/org/lflang/generator/rust/RustGenerator.kt
  org.lflang/src/org/lflang/generator/rust/RustModel.kt
  org.lflang/src/org/lflang/generator/rust/rust-runtime-version.txt
  test/Rust/src-gen/Cargo.toml
  test/Rust/src/concurrent/Workers.lf
Labels: rust

#1119 diagram: Add categories explicitly to the synthesis options.
  org.lflang.diagram/src/org/lflang/diagram/synthesis/LinguaFrancaSynthesis.java
Labels: bug, diagrams, ide
