Repository lf-lang/lingua-franca, pull requests merged in 2023-04, with the labels that each got.

#1668 Test for parsing CLI arguments in `lfc`
  .github/scripts/test-lfc.sh
  org.lflang.tests/src/org/lflang/tests/cli/LfcCliTest.java
  org.lflang.tests/src/org/lflang/tests/cli/LffCliTest.java
  org.lflang/src/org/lflang/TargetProperty.java
  org.lflang/src/org/lflang/cli/CliBase.java
  org.lflang/src/org/lflang/cli/Lfc.java
Labels: testing, cli

#1686 Add --json and --json-file CLI args to Lfc
  build.gradle
  gradle.properties
  org.lflang.tests/src/org/lflang/tests/cli/LfcCliTest.java
  org.lflang.tests/src/org/lflang/tests/compiler/LinguaFrancaValidationTest.java
  org.lflang/src/org/lflang/cli/CliBase.java
  org.lflang/src/org/lflang/cli/Lfc.java
  org.lflang/src/org/lflang/cli/Lff.java
  test/Cpp/src/NativeListsAndTimes.lf
Labels: cli

#1694 Gradle daemon brought down to free locks in Windows CI
  .github/actions/prepare-build-env/action.yml
Labels: gradle, ci

#1697 Code coverage reporting for CLI package + Arduino and Zephyr platform
  .github/workflows/c-arduino-tests.yml
  .github/workflows/c-zephyr-tests.yml
  .github/workflows/cli-tests.yml
Labels: testing, ci

#1703 Test to help ensure that level-based scheduling does not cause deadlock
  test/C/src/federated/LevelPattern.lf
Labels: federated
