Repository lf-lang/lingua-franca, pull requests merged in 2024-11, with the labels that each got.

#2436 Repaired export-dependency-graph property and dropped unsupported export-to-yaml property
  core/src/main/java/org/lflang/target/Target.java
  core/src/main/java/org/lflang/target/property/ExportToYamlProperty.java
  core/src/main/kotlin/org/lflang/generator/cpp/CppStandaloneMainGenerator.kt
Labels: cpp, bugfix

#2437 Make macros available in methods
  .github/workflows/c-zephyr-tests.yml
  core/src/main/java/org/lflang/generator/c/CMethodGenerator.java
  test/C/src/MethodMacros.lf
Labels: feature

#2435 bug fix in the Patmos platform
  core/src/main/java/org/lflang/generator/c/CCmakeGenerator.java
Labels: compiler, c, cmake, bugfix

#2442 Use the NP scheduler when deadlines are present
  core/src/main/java/org/lflang/generator/c/CGenerator.java
Labels: enhancement
