Repository lf-lang/lingua-franca, pull requests merged in 2024-07, with the labels that each got.

#2344 Add `tty:true` to docker-compose.yml
  core/src/main/java/org/lflang/generator/docker/DockerComposeGenerator.java
Labels: bugfix

#2343 Added test case for inheriting auth property
  test/C/src/target/InheritedAuth.lf
  test/C/src/target/lib/R1.lf
Labels: testing

#2345 Docker networking enhancements
  core/src/main/java/org/lflang/generator/docker/DockerComposeGenerator.java
Labels: enhancement, docker

#2348 Fixed copying of multiple files in the generated dockerfiles
  core/src/main/java/org/lflang/generator/docker/DockerGenerator.java
Labels: docker, bugfix

#2349 Support for Docker environment files
  core/src/main/java/org/lflang/generator/docker/DockerComposeGenerator.java
  core/src/main/java/org/lflang/target/property/DockerProperty.java
  test/C/src/docker/federated/.env
  test/C/src/docker/federated/DockerOptions.lf
Labels: docker, feature

#2350 Platform name changed from `Nrf52` to `nRF52`
  core/src/main/java/org/lflang/target/property/type/PlatformType.java
Labels: refactoring

#2352 Updated hyperlinks in README
  README.md
Labels: docs, exclude

#2353 Define self variable so it can be used in instantiations
  core/src/main/java/org/lflang/generator/python/PythonReactorGenerator.java
  test/Python/src/BankIndex.lf
Labels: enhancement, python

#2357 Fixed build script support in C++ docker generation
  core/src/main/kotlin/org/lflang/generator/cpp/CppGenerator.kt
  core/src/main/kotlin/org/lflang/generator/cpp/CppRos2Generator.kt
  core/src/main/kotlin/org/lflang/generator/cpp/CppStandaloneGenerator.kt
Labels: enhancement, docker

#2358 Fixed C++ docker generation for when cmake is not installed
  core/src/main/kotlin/org/lflang/generator/cpp/CppStandaloneGenerator.kt
Labels: enhancement, docker

#2369 Ability to use of target code expressions for time values in C++
  core/src/main/java/org/lflang/validation/LFValidator.java
  core/src/main/kotlin/org/lflang/generator/cpp/CppPreambleGenerator.kt
  test/Cpp/src/target/TimeExpression.lf
Labels: enhancement, cpp

#2377 Fixed docker support for the Python target
  core/src/integrationTest/java/org/lflang/tests/runtime/PythonTest.java
  core/src/main/java/org/lflang/generator/c/CCompiler.java
  core/src/main/java/org/lflang/generator/c/CGenerator.java
  core/src/main/java/org/lflang/generator/python/PythonGenerator.java
  core/src/main/java/org/lflang/util/LFCommand.java
  test/Python/src/docker/federated/failing/DistributedDoublePortContainerized.lf
  test/Python/src/docker/federated/failing/DistributedStopDecentralizedContainerized.lf
Labels: python, docker, bugfix

#2371 Docker compose override
  core/src/main/java/org/lflang/generator/docker/DockerComposeGenerator.java
  core/src/main/java/org/lflang/target/property/DockerProperty.java
  test/Python/src/docker/DockerComposeConfig.docker.yml
  test/Python/src/docker/DockerComposeConfig.lf
Labels: docker, feature
