Repository lf-lang/lingua-franca, pull requests merged in 2024-09, with the labels that each got.

#2406 Removal of Epoch from CI
  .github/workflows/build.yml
  .github/workflows/c-embedded.yml
Labels: ci

#2411 Fix bank_index Parameter Override
  core/src/main/java/org/lflang/generator/python/PythonReactorGenerator.java
  test/Python/src/federated/BankIndexFed.lf
  test/Python/src/federated/BankIndexOverride.lf
Labels: python, federated, bugfix

#2413 Default Docker image for Python changed to Alpine
  core/src/main/java/org/lflang/generator/docker/PythonDockerGenerator.java
Labels: enhancement, docker

#2414 Informative error message for platforms that do not support federated
  core/src/main/java/org/lflang/federated/generator/FedGenerator.java
  core/src/main/java/org/lflang/target/property/PlatformProperty.java
  core/src/main/java/org/lflang/target/property/type/PlatformType.java
Labels: federated, bugfix

#2415 Corrected behavior of federated code generation under `--no-compile` flag
  core/src/main/java/org/lflang/federated/generator/FedGenerator.java
Labels: bugfix
