Repository lf-lang/lingua-franca, pull requests merged in 2025-01, with the labels that each got.

#2452 Allow derived classes to override parameter default values
  core/src/main/java/org/lflang/generator/c/CParameterGenerator.java
  test/C/src/ParameterOverride.lf
Labels: enhancement

#2454 CMake: Dont clear executable runtime path when installing
  core/src/main/java/org/lflang/generator/c/CCmakeGenerator.java
Labels: enhancement, c, cmake

#2461 Update to upload-artifact@v4
  .github/workflows/cpp-tests.yml
Labels: cpp, ci

#2464 Revert "Set annotated layout options for modes."
  core/src/main/java/org/lflang/diagram/synthesis/util/ModeDiagrams.java
Labels: bugfix, cli
